:root {
    --bg-dark: #363940;
    --clr-white: #ffffff;
    --clr-gray: #a2a3a7;
    --clr-gray-dark: #919296;
    --clr-input: #323338;
    --clr-black: #000000;
    --clr-border: #282a2e;
    --clr-blue: #7289da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Font Discord 700";
    src: url("../fonts/FontDiscord700.woff2");
}

@font-face {
    font-family: "Font Discord 400";
    src: url("../fonts/FontDiscord400.woff2");
}

html, body {
    height: 100%;
    background-image: url("../imgs/img-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top top;
}

main.mainContainer {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 0 2%;
}

section.fallingSnowContainer {
    max-width: 100%;
    width: 100%;
    background-image: url("../imgs/gif-snow-falling.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

section.boxContainer {
    max-width: 100%;
    width: 804px;
    height: 408px;
    background-color: var(--bg-dark);
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
}

section.divisionContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
}

section.welcomeContainer {
    max-width: 100%;
    width: 60%;
    background-color: transparent;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

section.qrContainer {
    max-width: 100%;
    width: 40%;
    background-color: transparent;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.titleContainer {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0;
    background-color: transparent;
    gap: 8px;
    margin-top: 25px;
}

section.titleContainer h2 {
    color: var(--clr-white);
    font-size: 24px;
    font-weight: bold;
    font-family: "Font Discord 400";
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.7px;
}

section.titleContainer p {
    color: var(--clr-gray);
    font-size: 17px;
    font-weight: 400;
    font-family: "Font Discord 400";
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.7px;
}

section.formContainer {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 7%;
}

form.formLogin {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 93%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section.boxLogin {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    gap: 20px;
}

section.inputSingle {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.inputSingle label {
    color: var(--clr-gray-dark);
    letter-spacing: 1px;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-family: "Font Discord 400";
}

section.inputSingle input {
    max-width: 100%;
    width: 100%;
    height: 40px;
    background-color: var(--clr-input);
    border: none;
    border-radius: 5px;
    border: 1px solid var(--clr-border);
    box-shadow: 1px 2px 3px 3px #00000007;
    outline: none;
    font-family: "Font Discord 400";
    letter-spacing: 1px;
    padding: 0 5px;
    color: var(--clr-white);
}

section.inputSingle input:hover {
    border: 1px solid var(--clr-black);
}

section.bottomContainerForm {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
    gap: 8px;
}

section.bottomContainerForm a {
    font-size: 16px;
    color: var(--clr-blue);
    font-family: "Font Discord 700";
    font-style: normal;
    font-variant: normal;
    text-align: left;
    letter-spacing: .4px;
}

section.bottomContainerForm input {
    max-width: 100%;
    width: 100%;
    height: 44px;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border-radius: 5px;
    font-family: "Font Discord 700";
    position: relative;
    border: none;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.072);
    margin-top: 10px;
    font-size: 16.5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section.bottomContainerForm input:hover {
    position: relative;
    bottom: -2px;
}

section.boxQrCodeContainer {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

figure.imgQrCode img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section.titleQrCode {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

section.titleQrCode h2 {
    color: var(--clr-white);
    font-size: 24px;
    font-weight: bold;
    font-family: "Font Discord 400";
    font-style: normal;
    font-variant: normal;
    letter-spacing: 1.5px;
}

section.titleQrCode p {
    color: var(--clr-gray);
    font-size: 16px;
    font-weight: normal;
    font-family: "Font Discord 400";
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.7px;
    text-align: center;
    padding: 0 8%;
}

section.titleQrCode span {
    font-weight: bold;
    font-family: "Font Discord 400";
}