:root {
    --clr-bege: #F6F3ED;
}

header.headerContainer {
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: 0;
    margin: 10px 0;
}

section.positionContainer {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

section.maxContainer {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bege);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

section.formContainer {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 25px;
}

figure.imgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
}

section.formContainer form {
    width: 400px;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    outline: none;
    background-color: var(--clr-bege);
    padding: 0;
}

section.formContainer form input {
    width: 100%;
    height: 42px;
    padding: 10px 8px;
    outline: none;
    border: 1px solid #0000002b;
    border-radius: 10px;
    background-color: var(--clr-bege);
    color: #333333;
    font-size: 17px;
}

section.formContainer form svg {
    position: absolute;
    right: 9px;
    color: #515151;
    font-size: 29px;
}

section.iconeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

section.iconeContainer svg {
    color: #515151;
    font-size: 32px;
}

nav.navContainer {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--clr-bege);
} 

nav.navContainer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 9px 0;
}

nav.navContainer ul li a {
    display: inline-flex;
    cursor: pointer;
    color: #515151;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

nav.navContainer ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #515151;
    transition: .2s ease-in-out all;
}

nav.navContainer ul li a:hover::before {
    width: 100%;
    background-color: #515151;
    height: 3px;
}

main.mainContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

section.mainContent {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
}

figure.bgMainContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.09);
}

section.differentialsContainer ul {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px 0;
    border: none;
    gap: 80px;
}

section.differentialsContainer ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

section.differentialsContainer ul li svg {
    color: #515151;
    font-size: 18px;
}

section.titleDifferentials h2 {
    color: #515151;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
}

section.titleDifferentials h3 {
    color: #515151;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    position: relative;
    bottom: 2.5px;
}

section.highlightContainer {
    max-width: 100%;
    width: 100%;
    margin: 35px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
}

section.highlightContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.linesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

section.lineSingle {
    width: 50%;
    height: 3px;
    border-radius: 50px;
    background-color: #515151;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.145);
}

section.linesContainer h2 {
    color: #515151;
    font-size: 39px;
    letter-spacing: .3px;
    text-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.09);
}

section.cardContainer {
    width: 100%;
    background-color: transparent;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    gap: 20px;
}

section.cardSingle {
    width: 400px;
    background-color: transparent;
    margin-bottom: 50px;
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.145);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

section.cardSingle:hover {
    position: relative;
    bottom: -3px;
    transition: .2s ease-in-out all;
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.307);
    transform: scale(1.0010);
}

section.insideImgContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

figure.imgSingle {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0;
}

figure.imgSingle img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

section.titleSingle {
    padding: 10px 8px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

section.titleSingle h2 {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 27px;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
}

section.titleSingle p {
    width: 98%;
    color: #3c3c3c;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
}

section.titleSingle a {
    margin-top: 18px;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: 1px solid #0000006e;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #515151;
}

section.titleSingle a:hover {
    background-color: #f0a534;
    color: #000000;
    border-radius: 50px;
    transition: .4s ease-in-out all;
    position: relative;
}

section.categorySingle {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
    width: auto;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #f0a534;
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.101);
}

figure.imgFavorite {
    position: absolute;
    right: -20px;
    top: -18px;
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.101);
    z-index: 3;
    background-color: #f7c402;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

figure.imgFavorite img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    object-position: center;
    position: relative;
    bottom: 2.1px;
}

footer.footerContainer {
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #cdb475;
}

footer.footerContainer p {
    font-size: 19px;
    color: #333333;
    letter-spacing: .5px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    font-variant: normal;
}